---

---

<article
  data-aos="fade-down"
  id="sobremi"
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <picture>
    <div class="">
      <img
        class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
        src="/image.webp"
        alt="foto de Tomas Eisenhach"
      />
    </div>
  </picture>

  <div class="flex flex-col gap-5">
    <p class="text-balance">
      Mi nombre es Tomas Eisenhach, soy programador Fullstack y actualmente
      estoy trabajando de forma independiente.
    </p>

    <p class="text-balance">
      Mi forma de trabajo consiste en conocer los gustos de mi cliente, entender
      la necesidad, los objetivos a los que apunta y en base a ello entregarle
      el mejor resultado.
    </p>
  </div>
</article>

<style>
  strong {
    @apply font-mono;
  }
</style>
