<header data-aos="zoom-out" id="header-nav" class="">
  <nav>
    <div
      class="flex text-white transition-all duration-300 container justify-center py-3 sm:w-full md:w-96 rounded-full mx-auto space-x-8 shadow-md"
    >
      <a
        data-aos="zoom-out"
        data-aos-delay="1500"
        data-aos-easing="ease"
        class="font-bold hover:text-cyan-500"
        href="#proyectos">Proyectos</a
      >
      <a
        data-aos="zoom-out"
        data-aos-delay="1500"
        data-aos-easing="ease"
        class="font-bold hover:text-cyan-500"
        href="#sobremi">Sobre mi</a
      >
      <a
        data-aos="zoom-out"
        data-aos-delay="1500"
        data-aos-easing="ease"
        class="font-bold hover:text-cyan-500"
        href="#contacto">Contacto</a
      >
    </div>
  </nav>
</header>
